<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section
			id='df_oro'
            showInDefault='1' showInStore='1' showInWebsite='1'
            translate='label'
		>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<tab>_df</tab>
			<label>Oro Platform</label>
			<class>separator-top</class>
			<!-- 2015-10-05 https://mage2.pro/t/114 -->
			<resource>Df_Oro::config</resource>
			<group
				id='general'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1518'
				translate='label'
			>
				<label>General</label>
				<dfExtension>Df_Oro</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://github.com/mage2pro/oro' target='_blank'>Oro Platform</a>» integration?]]></comment>
				</field>
				<field
					id='username'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Username</label>
					<comment><![CDATA[Your username in Oro Platform.]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='key'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='obscure'
				>
					<label>API Key</label>
					<comment><![CDATA[<a href='https://ocrm.pro/t/61' title='How to get your API Key' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
	</system>
</config>